body {
  font-family: sans-serif;
  background-image: url("../images/bg.png");
  margin: 0; }

section {
  width: 100%; }

nav {
  overflow: hidden;
  background-color: white; }
  nav .navHr {
    background: #525252;
    height: 1em;
    margin-top: 0; }
  nav .links {
    float: left; }
  nav a {
    text-decoration: none;
    color: black;
    margin: 0 1em;
    float: left;
    padding: 1em;
    font-size: 1em; }
  nav .picLink {
    margin: 0;
    padding: 0; }
  nav .logo {
    background-size: contain;
    background: url("../images/logo.png") no-repeat;
    height: 2.5em;
    background-size: 3em;
    width: 4em;
    float: left;
    margin: 0 0 1em 5em; }

.rightColumn {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border: 1em solid transparent; }

.leftColumn {
  float: left;
  width: 100%;
  padding: 0 1em 0 1em;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em; }
  .leftColumn .jobRow {
    padding: 1em;
    overflow: hidden; }
    .leftColumn .jobRow h4 {
      margin: 0;
      color: #002d12;
      float: left; }
    .leftColumn .jobRow .datePosted {
      float: right;
      color: #b2b2b2;
      border: none;
      background: white;
      padding: 0;
      font-size: 10px; }
    .leftColumn .jobRow h6 {
      margin: 0;
      float: left; }
    .leftColumn .jobRow h6:nth-child(6) {
      color: #b2b2b2; }
  .leftColumn .filterForm {
    overflow: hidden;
    padding: 1em;
    box-sizing: border-box; }
    .leftColumn .filterForm .filterInput1 {
      float: left;
      width: 33%;
      overflow: hidden;
      box-sizing: border-box; }
    .leftColumn .filterForm .filterInput2 {
      float: left;
      width: 33%;
      overflow: hidden;
      box-sizing: border-box;
      padding-right: 1em; }
    .leftColumn .filterForm div:first-child {
      padding-right: 1em; }
      .leftColumn .filterForm div:first-child input {
        width: 100%; }
    .leftColumn .filterForm input {
      box-sizing: border-box;
      float: left;
      height: 3em;
      width: 100%; }
    .leftColumn .filterForm button {
      margin-top: 1.2em;
      width: 33%;
      box-sizing: border-box;
      overflow: hidden;
      float: left;
      padding: .4em;
      background-color: #3e9a48;
      color: #f4fdc7;
      border: none;
      font-size: 1em;
      border-radius: 4px; }
  .leftColumn > div {
    background-color: white; }

.tagClass {
  float: left;
  margin-right: .3em;
  background: #fbfaec;
  border: solid 1px RGBA(230, 231, 154, 1);
  padding: .5em;
  font-size: 12px; }

.infoBox {
  background-color: #fbfaec;
  border: solid 1px #e6e79a;
  padding: 1em; }
  .infoBox h2 {
    margin-bottom: 0; }
  .infoBox ul {
    padding-left: 6em; }
  .infoBox button {
    width: 100%;
    font-size: 1.5em;
    border-radius: 10px;
    color: white;
    background: #717171; }

.companyInfo {
  background-color: white;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  overflow: hidden; }
  .companyInfo > h1:first-child {
    text-align: left;
    margin-bottom: 0; }
  .companyInfo .companyName {
    margin-top: 8%;
    color: #349B40; }
  .companyInfo h2 {
    color: #636363; }

.picContainer {
  margin: 0 auto;
  width: 100%; }

.picture {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain; }

.logo {
  margin-top: 25%;
  width: 40%; }

.jobDetailsPageWrapper {
  overflow: hidden;
  padding: 1em; }
  .jobDetailsPageWrapper h6 {
    margin-bottom: 0; }
  .jobDetailsPageWrapper h2 {
    clear: left;
    margin: 2em 0 0 0; }

.postForm {
  box-sizing: border-box;
  width: 96%;
  float: left;
  border: double 4px black;
  padding: 1em;
  background: white;
  margin: 1em 2% 0 2%;
  box-shadow: 0 0.5em 0.5em 0 gray; }
  .postForm input {
    width: 100%;
    margin-bottom: .5em;
    height: 4em; }
  .postForm textarea {
    width: 100%;
    margin-bottom: .5em;
    height: 12em; }
  .postForm div {
    overflow: hidden; }
    .postForm div button {
      float: right;
      padding: .5em;
      background: #3e9a48;
      color: #f4fdc7;
      border: none;
      font-size: 1.5em;
      border-radius: 4px;
      margin-top: 1em; }

.jobTips {
  box-sizing: border-box;
  border: double 4px black;
  padding: 1em;
  float: left;
  width: 96%;
  background: white;
  margin: 1em 2% 0 2%;
  box-shadow: 0 0.5em 0.5em 0 gray; }

@media screen and (min-width: 800px) {
  .rightColumn {
    width: 30%; }
  .leftColumn {
    width: 70%; }
  .infoBox ul {
    padding-left: 2em; } }
