body {
  font-family: sans-serif;
  background: url("../images/bg.png");
  margin: 0; }
  body nav {
    overflow: hidden;
    background: white;
    padding-bottom: 1em; }
    body nav .navHr {
      background: RGBA(82, 82, 82, 1);
      height: 1em;
      margin-top: 0; }
    body nav a {
      text-decoration: none;
      color: black;
      margin: 0 1%;
      float: left;
      padding: 1em;
      font-size: .8em; }
    body nav .logo {
      background-size: contain;
      background: url("../images/logo.png") no-repeat;
      height: 2.5em;
      background-size: 3em;
      width: 4em;
      float: left;
      margin-left: 10%; }
  body .mainContent {
    box-sizing: border-box;
    border: double 4px black;
    padding: 1em;
    float: left;
    width: 96%;
    background: white;
    margin: 1em 2% 0 2%;
    box-shadow: 0 0.5em 0.5em 0 gray; }
  body .postForm {
    box-sizing: border-box;
    width: 96%;
    float: left;
    border: double 4px black;
    padding: 1em;
    background: white;
    margin: 1em 2% 0 2%;
    box-shadow: 0 0.5em 0.5em 0 gray; }
    body .postForm input {
      width: 100%;
      margin-bottom: .5em;
      height: 4em; }
    body .postForm textarea {
      width: 100%;
      margin-bottom: .5em;
      height: 12em; }
    body .postForm div {
      overflow: hidden; }
      body .postForm div button {
        float: right;
        padding: .5em;
        background: #3e9a48;
        color: #f4fdc7;
        border: none;
        font-size: 1.5em;
        border-radius: 4px;
        margin-top: 1em; }
  body .jobRow {
    background: white;
    overflow: hidden; }
    body .jobRow h4 {
      margin: 0;
      color: RGBA(0, 45, 18, 1);
      float: left; }
    body .jobRow .datePosted {
      float: right;
      color: RGBA(178, 178, 178, 1);
      border: none;
      background: white;
      padding: 0;
      font-size: 10px; }
    body .jobRow h6 {
      margin: 0;
      float: left; }
    body .jobRow h6:nth-child(6) {
      color: RGBA(178, 178, 178, 1); }
    body .jobRow span {
      float: left;
      margin-right: .3em;
      background: RGBA(251, 250, 236, 1);
      border: solid 1px RGBA(230, 231, 154, 1);
      padding: .5em;
      font-size: 12px; }
  body .filterForm {
    overflow: hidden; }
    body .filterForm > div {
      float: left;
      width: 40%;
      box-sizing: border-box; }
    body .filterForm div:first-child input {
      width: 90%; }
    body .filterForm input {
      display: inline-block;
      height: 3em;
      margin-right: 1%;
      width: 70%; }
    body .filterForm button {
      padding: .5em;
      background: #3e9a48;
      color: #f4fdc7;
      border: none;
      font-size: 1em;
      border-radius: 4px; }
  body .infoBox {
    background: RGBA(251, 250, 236, 1);
    border: solid 1px RGBA(230, 231, 154, 1);
    font-size: 2.5em;
    padding: 1em; }
    body .infoBox h1 {
      display: block; }
    body .infoBox ul {
      padding-left: 2em; }
    body .infoBox button {
      width: 100%;
      font-size: 1.5em;
      border-radius: 10px;
      color: white;
      background: RGBA(113, 113, 113, 1); }
  body .companyInfo {
    background: white; }

@media screen and (min-width: 50em) {
  body .postForm {
    margin: 1em 1% 0 2%;
    width: 64%; }
  body .mainContent {
    margin: 1em 2% 0 1%;
    width: 30%; } }
